<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Postal Service System</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h1><%= message %></h1>
      <div class="options">
        <a href="/packages" class="button">All Packages</a>
        <a href="/packages/new" class="button">Add New Package</a>
        <a href="/packages/remove" class="button">Remove Package</a>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
